<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block meta_load %}{# Title page & meta data here #}{% endblock %}
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900'>
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/bootstrap.css?1422792965">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/materialadmin.css?1425466319">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/font-awesome.min.css?1422529194">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/material-design-iconic-font.min.css?1421434286">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/select2/select2.css?1424887856">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/multi-select/multi-select.css?1424887857">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css?1424887858">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/jquery-ui/jquery-ui-theme.css?1423393666">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/bootstrap-tagsinput/bootstrap-tagsinput.css?1424887862">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/typeahead/typeahead.css?1424887863">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/theme-default/libs/dropzone/dropzone-theme.css?1424887864">

		{% block css_load %}{% endblock %}
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="{{ base_url() }}assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script src="{{ base_url() }}assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed" v-cloak>
		<!-- BEGIN HEADER-->
		{% block header %}{% include 'views/template/header.twig' %} {% endblock %}
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">
			<!-- BEGIN CONTENT-->
            {% block content %}{# Page content here #}{% endblock %}
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			{% block menubar %}{% include 'views/template/menubar.twig' %}{% endblock %}
			<!-- END MENUBAR -->

			<!-- BEGIN OFFCANVAS RIGHT -->
			{% block offcanvas %}{% include 'views/template/offcanvas.twig' %}{% endblock %}
			<!-- END OFFCANVAS RIGHT -->
		</div><!--end #base-->
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
        <script src="{{ base_url() }}assets/js/libs/vue/vue.js"></script>
		<script src="{{ base_url() }}assets/js/libs/vue/vue-resource.js"></script>
		<script src="{{ base_url() }}assets/js/libs/vue/vuex.js"></script>
		<script src="{{ base_url() }}assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/spin.js/spin.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/autosize/jquery.autosize.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/select2/select2.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/multi-select/jquery.multi-select.js"></script>
		<script src="{{ base_url() }}assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/moment/moment.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
		<script src="{{ base_url() }}assets/js/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/typeahead/typeahead.bundle.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/dropzone/dropzone.min.js"></script>
		<script src="{{ base_url() }}assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script src="{{ base_url() }}assets/js/core/source/App.js"></script>
		<script src="{{ base_url() }}assets/js/core/source/AppNavigation.js"></script>
		<script src="{{ base_url() }}assets/js/core/source/AppOffcanvas.js"></script>
		<script src="{{ base_url() }}assets/js/core/source/AppCard.js"></script>
		<script src="{{ base_url() }}assets/js/core/source/AppForm.js"></script>
		<script src="{{ base_url() }}assets/js/core/source/AppNavSearch.js"></script>
		<script src="{{ base_url() }}assets/js/core/source/AppVendor.js"></script>
		<script src="{{ base_url() }}assets/js/core/demo/Demo.js"></script>
		<script src="{{ base_url() }}assets/js/core/demo/DemoUILists.js"></script>
		<script src="{{ base_url() }}assets/js/core/demo/DemoUIMessages.js"></script>
		<script src="{{ base_url() }}assets/js/core/demo/DemoFormComponents.js"></script>
        <script src="{{ base_url() }}assets/vm/item.js"></script>
        <script src="{{ base_url() }}assets/vm/field.js"></script>
        <script src="{{ base_url() }}assets/js/main.js"></script>

		{% block script_load %}{% endblock %}
		<!-- END JAVASCRIPT -->
	</body>
</html>