<div class="offcanvas">
	<!-- BEGIN OFFCANVAS ADMINISTRATION -->
	<div id="offcanvas-search" class="offcanvas-pane width-8">
		<div class="offcanvas-head">
			<header class="text-primary">Administration</header>
			<div class="offcanvas-tools">
				<a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
					<i class="md md-close"></i>
				</a>
			</div>
		</div>

		<div class="offcanvas-body no-padding">
			<ul class="list ">
				<li class="tile divider-full-bleed">
					<div class="tile-content">
						<div class="tile-text"><strong>Package</strong></div>
					</div>
				</li>
				<li class="tile">
					<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
						<div class="tile-icon">
							<img src="{{ base_url }}assets/img/avatar4.jpg?1404026791" alt="" />
						</div>
						<div class="tile-text">
							Backup
							<small>123-123-3210</small>
						</div>
					</a>
				</li>
				<li class="tile">
					<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
						<div class="tile-icon">
							<img src="{{ base_url }}assets/img/avatar9.jpg?1404026744" alt="" />
						</div>
						<div class="tile-text">
							Restore
							<small>123-123-3210</small>
						</div>
					</a>
				</li>
				<li class="tile divider-full-bleed">
					<div class="tile-content">
						<div class="tile-text"><strong>User</strong></div>
					</div>
				</li>
				<li class="tile">
					<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
						<div class="tile-icon">
							<img src="{{ base_url }}assets/img/avatar2.jpg?1404026449" alt="" />
						</div>
						<div class="tile-text">
							Role
							<small>123-123-3210</small>
						</div>
					</a>
				</li>
				<li class="tile">
					<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
						<div class="tile-icon">
							<img src="{{ base_url }}assets/img/avatar8.jpg?1404026729" alt="" />
						</div>
						<div class="tile-text">
							Group
							<small>123-123-3210</small>
						</div>
					</a>
				</li>
				<li class="tile divider-full-bleed">
					<div class="tile-content">
						<div class="tile-text"><strong>Setting</strong></div>
					</div>
				</li>
				<li class="tile">
					<a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
						<div class="tile-icon">
							<img src="{{ base_url }}assets/img/avatar5.jpg?1404026513" alt="" />
						</div>
						<div class="tile-text">
							Multi Site
							<small>123-123-3210</small>
						</div>
					</a>
				</li>
			</ul>
		</div><!--end .offcanvas-body -->
	</div><!--end .offcanvas-pane -->
	<!-- END OFFCANVAS ADMINISTRATION -->
</div><!--end .offcanvas-->